<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- fixme dangerous permission consider remove -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!--android:dataExtractionRules="@xml/data_extraction"-->
    <queries>
        <package android:name="com.squareup.cash"/>
        <package android:name="de.schildbach.wallet"/>
        <package android:name="co.mona.android"/>
        <package android:name="com.bitcoin.mwallet"/>
        <package android:name="com.coinomi.wallet"/>
        <package android:name="com.coinbase.android"/>
        <package android:name="fr.acinq.eclair.wallet.mainnet2"/>
        <package android:name="org.electrum.electrum" />
        <package android:name="exodusmovement.exodus" />
        <package android:name="com.gemini.android.app" />
        <package android:name="com.mycelium.wallet" />
        <package android:name="com.wallet.crypto.trustapp" />
        <package android:name="com.sofi.mobile" />
        <package android:name="com.binance.dev" />
        <package android:name="net.bitstamp.app" />
        <package android:name="com.revolut.revolut" />
    </queries>

    <application
        android:name="uk.co.sentinelweb.cuer.app.CuerApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/full_backup"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="uk.co.sentinelweb.cuer.app.util.chromecast.CastOptionsProvider"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="uk.co.sentinelweb.cuer.app.ui.main.MainActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@style/AppSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="uk.co.sentinelweb.cuer.app.ui.share.ShareActivity"
            android:exported="true"
            android:launchMode="standard">

            <nav-graph android:value="@navigation/deeplink" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="youtu.be" />
                <data android:pathPattern="/" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />

                <data android:host="youtu.be" />
                <data android:path="/" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />

                <data android:host="youtube.com" />
                <data android:host="www.youtube.com" />
                <data android:host="m.youtube.com" />

                <data android:path="/watch" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />

                <data android:host="youtube.com" />
                <data android:host="www.youtube.com" />
                <data android:host="m.youtube.com" />

                <data android:path="/playlist" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />

                <data android:host="youtube.com" />
                <data android:host="www.youtube.com" />
                <data android:host="m.youtube.com" />

                <data android:path="/shorts" />
            </intent-filter>

        </activity>

        <activity
            android:name="uk.co.sentinelweb.cuer.app.ui.ytplayer.yt_land.YoutubeFullScreenActivity"
            android:label="@string/title_activity_fullscreen"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="uk.co.sentinelweb.cuer.app.ui.ytplayer.ayt_portrait.AytPortraitActivity"
            android:label="@string/title_activity_fullscreen"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="uk.co.sentinelweb.cuer.app.ui.ytplayer.ayt_land.AytLandActivity"
            android:label="@string/title_activity_fullscreen"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />

        <service
            android:name="uk.co.sentinelweb.cuer.app.service.cast.YoutubeCastService"
            android:exported="false">

            <!--            android:foregroundServiceType="mediaPlayback"-->
            <!--
                might need to make another broadcast receiver to receive events this will
                start the service while the activity is running
                -->
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>

        <service
            android:name="uk.co.sentinelweb.cuer.app.service.remote.RemoteServerService"
            android:exported="false" />
        <service
            android:name=".ui.ytplayer.floating.FloatingPlayerService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>
        <service
            android:name="uk.co.sentinelweb.cuer.app.service.update.UpdateService"
            android:exported="false">
        </service>
        <!-- media button receiver -->
        <receiver
            android:name="androidx.media.session.MediaButtonReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.ScreenStateReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>